.button {
  padding: 0.2rem 0.8rem;
  margin: 0.5rem;
  border: 0.2rem solid transparent;
  font-family: "Eczar", serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1.1px 2.7px rgba(0, 0, 0, 0.043),
    0 2.8px 6.9px rgba(0, 0, 0, 0.062), 0 5.7px 14.2px rgba(0, 0, 0, 0.078),
    0 11.7px 29.2px rgba(0, 0, 0, 0.097), 0 32px 80px rgba(0, 0, 0, 0.14);
  transition: box-shadow 0.15s;
  transition: background-color 0.2s;
}

.button:active {
  box-shadow: none;
}

/* Removes dotted line inside button on firefox
.button::-moz-focus-inner {
  border: none;
} */

.purple {
  background-color: #a16edb;
  background: linear-gradient(#a16edb, #7f53b1);
  border-color: #5c338a;
}

.green {
  background-color: #77db6e;
  background: linear-gradient(#77db6e, #66bd5e);
  border-color: #338a37;
}

.textButton {
  border: none;
  background: none;
  font-size: 1rem;
  color: #a16edb;
  cursor: pointer;
}

.textButton:hover {
  text-decoration: underline;
}

@keyframes cycleBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 400% 0%;
  }
}

.lookAtMe {
  background: linear-gradient(
    to left,
    orange 5%,
    rgb(248, 14, 53) 45%,
    rgb(248, 14, 53) 55%,
    orange 95%
  );
  border: 0.2rem solid transparent;
  background-size: 400% auto;
  animation: cycleBackground 9s linear infinite;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 5px 3px transparent,
      0 1.1px 2.7px rgba(0, 0, 0, 0.043),
      0 2.8px 6.9px rgba(0, 0, 0, 0.062), 0 5.7px 14.2px rgba(0, 0, 0, 0.078),
      0 11.7px 29.2px rgba(0, 0, 0, 0.097), 0 32px 80px rgba(0, 0, 0, 0.14);
  }
  50% {
    box-shadow: 0 0 8px 5px rgb(255, 230, 0),
      0 1.1px 2.7px rgba(0, 0, 0, 0.043),
      0 2.8px 6.9px rgba(0, 0, 0, 0.062), 0 5.7px 14.2px rgba(0, 0, 0, 0.078),
      0 11.7px 29.2px rgba(0, 0, 0, 0.097), 0 32px 80px rgba(0, 0, 0, 0.14);
  }
}

.glow {
  animation: glow 1.5s ease infinite;
}

.glow:active {
  animation: none;
}
