/* Default styles */
.button {
  padding: 3px 0.8rem;
  position: relative;
  margin: 0.5rem;
  /* rem calculations rounded badly sometimes, therefore px here: */
  border: 3px solid rgba(0,0,0,0.25);
  border-radius: 0.5rem;
  font-family: "Eczar", serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  box-shadow: 0 1.1px 2.7px rgba(0, 0, 0, 0.043),
    0 2.8px 6.9px rgba(0, 0, 0, 0.062), 0 5.7px 14.2px rgba(0, 0, 0, 0.078),
    0 11.7px 29.2px rgba(0, 0, 0, 0.097), 0 32px 80px rgba(0, 0, 0, 0.14);
  transition: box-shadow 0.15s;
  transition: background-color 0.2s;
}

.button:not([disabled]):not(:active)::before {
  /* Adds 3D effect to button */
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: 0.5rem;
  background: linear-gradient(transparent, black);
  opacity: 0.4;
  z-index: -1;
}

/* Active styles */
.button:active {
  box-shadow: none;
}

/* Colors */
.purple {
  background-color: rgba(139, 50, 240, 0.7);
}

.green {
  background-color: rgba(62, 223, 48, 0.7);
}

.orange {
  background-color: rgba(253, 122, 0, 0.788);
}

.textButton {
  border: none;
  background: none;
  font-size: 1rem;
  color: #a16edb;
  cursor: pointer;
}

.textButton:hover {
  text-decoration: underline;
}

@keyframes cycleBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 400% 0%;
  }
}

.lookAtMe {
  background: linear-gradient(
    to left,
    orange 5%,
    rgb(248, 14, 53) 45%,
    rgb(248, 14, 53) 55%,
    orange 95%
  );
  border-color: transparent;
  background-size: 400% auto;
  animation: cycleBackground 9s linear infinite;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 5px 3px transparent,
      0 1.1px 2.7px rgba(0, 0, 0, 0.043),
      0 2.8px 6.9px rgba(0, 0, 0, 0.062), 0 5.7px 14.2px rgba(0, 0, 0, 0.078),
      0 11.7px 29.2px rgba(0, 0, 0, 0.097), 0 32px 80px rgba(0, 0, 0, 0.14);
  }
  50% {
    box-shadow: 0 0 8px 5px rgb(255, 230, 0),
      0 1.1px 2.7px rgba(0, 0, 0, 0.043),
      0 2.8px 6.9px rgba(0, 0, 0, 0.062), 0 5.7px 14.2px rgba(0, 0, 0, 0.078),
      0 11.7px 29.2px rgba(0, 0, 0, 0.097), 0 32px 80px rgba(0, 0, 0, 0.14);
  }
}

.glow:not([disabled]):not(:active) {
  animation: glow 1.5s ease infinite;
}

/* Removes dotted line inside button on firefox
.button::-moz-focus-inner {
  border: none;
} */
