/* Default styles */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0.8rem;
  position: relative;
  margin: 0.5rem;
  /* rem calculations rounded badly sometimes, therefore px for border: */
  border: 3px solid rgba(0,0,0,0.25);
  border-radius: 0.5rem;
  font-family: "Eczar", serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.15s;
  transition: background-color 0.15s;
}

.button:not([disabled]):not(:active):not(.noShadow) {
  box-shadow:
    0 0.3px 1px -10px rgba(0, 0, 0, 0.091),
    0 0.8px 2.6px -10px rgba(0, 0, 0, 0.13),
    0 1.8px 6.3px -10px rgba(0, 0, 0, 0.169),
    0 6px 21px -10px rgba(0, 0, 0, 0.26)
  ;
}

.button:not([disabled]):not(:active)::before {
  /* Adds 3D effect to button */
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: 0.5rem;
  background: linear-gradient(transparent, black);
  opacity: 0.4;
  z-index: -1;
}

/* Colors */
.purple {
  background-color: rgba(139, 50, 240, 0.7);
}

.green {
  background-color: rgba(62, 223, 48, 0.7);
}

.orange {
  background-color: rgba(253, 122, 0, 0.788);
}


/* Text Button */
.textButton {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  line-height: 1;
  color: #a16edb;
  cursor: pointer;
}

.textButton:hover {
  text-decoration: underline;
}


/* Look At Me */
@keyframes cycleBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 400% 0%;
  }
}

.lookAtMe {
  background: linear-gradient(
    to left,
    orange 5%,
    rgb(248, 14, 53) 45%,
    rgb(248, 14, 53) 55%,
    orange 95%
  );
  border-color: transparent;
  background-size: 400% auto;
  animation: cycleBackground 9s linear infinite;
}


/* Glow */
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 8px 6px transparent,
      0 0.3px 1px -10px rgba(0, 0, 0, 0.091),
      0 0.8px 2.6px -10px rgba(0, 0, 0, 0.13),
      0 1.8px 6.3px -10px rgba(0, 0, 0, 0.169),
      0 6px 21px -10px rgba(0, 0, 0, 0.26)
    ;
  }
  50% {
    box-shadow: 0 0 8px 6px rgb(255, 230, 0);
  }
}

.glow:not([disabled]):not(:active) {
  animation: glow 1.5s ease-in-out infinite;
}


/* Misc options */
.medium {
  font-size: 1rem;
}

.small {
  font-size: 0.8rem;
  margin: 0.25rem;
}


/* Removes dotted line inside button on firefox
.button::-moz-focus-inner {
  border: none;
} */
