.toolbar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 360px;
}

.toolbar button {
  font-size: 0.8rem;
}

.timer {
  align-self: flex-end;
  padding-right: 0.5rem;
}

.selected {
  background-color: #ff9328;
  border-color: #ff7b00;
  transform: scale(1.1);
}

.noShadow {
  box-shadow: none;
}
