.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 360px;
  margin-top: 0.5rem;
}

.heading {
  margin: 0;
}

.timer {
  align-self: flex-end;
  padding-right: 0.5rem;
}

.selected {
  background-color: #ff9328;
  border-color: #ff7b00;
  transform: scale(1.1);
}

.noShadow {
  box-shadow: none;
}
