.heading {
  margin: 0;
  font-family: "Eczar", serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
}

.gridContainer {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  align-items: center;
  max-width: 360px;
}

.gridContainer button {
  font-size: 0.8rem;
}

.gridContainer input {
  max-width: 160px;
}

.timer {
  width: 4rem;
}
