.titleHome {
  font-size: 5rem;
  font-family: 'Reenie Beanie', cursive;
  margin: 0;
}

.heading {
  margin: 1rem 0 0;
  font-family: "Eczar", serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
}

.headingLg {
  margin: 1rem 0 0;
  font-family: "Eczar", serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1;
}

.drawing {
  display: block;
  background-color: white;
  border: 1px solid lightgrey;
  margin: 0;
  box-shadow:
    0 0.4px 0.6px -6px rgba(0, 0, 0, 0.146),
    0 0.9px 1.3px -6px rgba(0, 0, 0, 0.21),
    0 1.8px 2.5px -6px rgba(0, 0, 0, 0.26),
    0 3.1px 4.5px -6px rgba(0, 0, 0, 0.31),
    0 5.8px 8.4px -6px rgba(0, 0, 0, 0.374),
    0 14px 20px -6px rgba(0, 0, 0, 0.52)
  ;
}

canvas.drawing {
  touch-action: none;
}

img.drawing {
  max-width: 95vw;
}

.smallButton {
  padding: 0.2rem 0.8rem;
  margin: 0.5rem;
  font-family: "Eczar", serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #a16edb;
  border: .2rem solid #5c338a;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow:
    0 1.1px 2.7px rgba(0, 0, 0, 0.043),
    0 2.8px 6.9px rgba(0, 0, 0, 0.062),
    0 5.7px 14.2px rgba(0, 0, 0, 0.078),
    0 11.7px 29.2px rgba(0, 0, 0, 0.097),
    0 32px 80px rgba(0, 0, 0, 0.14)
  ;
  transition: box-shadow 0.15s;
  transition: width 0.2s;
  transition: background-color 0.2s;
}

.smallButton:active, .button:active {
  box-shadow: none;
}

.greenButton {
  background-color: #77db6e;
  border-color: #338a37;
}

*[disabled] {
  opacity: 0.4;
  pointer-events: none;
  box-shadow: none;
}

.center {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullPage {
  min-height: 100vh;
  /* Mobile height adjustment for URL bar: */
  min-height: -webkit-fill-available;
  padding: 1rem;
}

.fieldset {
  border: none;
  margin: 0.5rem 0;
  padding: 0;
}

.fieldset input {
  margin: 0.5rem;
  text-align: center;
}

.hr {
  border: none;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, #fafaff, black, #fafaff);
}

.textButton {
  border: none;
  background: none;
  font-size: 0.8rem;
  color: #a16edb;
  cursor: pointer;
}

.textButton:hover {
  text-decoration: underline;
}

.word {
  display: inline-block;
  position: relative;
  /* background-color: #a16edb; */
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: white;
  background-color: #a16edb;
  vertical-align: center;
  transform: skew(-10deg);
}

/* .word::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: skew(-10deg);
  background-color: #a16edb;
  box-decoration-break: clone;
} */
