.header h2 {
  font-family: "Eczar", serif;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0.5rem 0;
}

.spaceAtBottom {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  min-height: 10rem;
  max-width: 450px;
}

.gridContainer h3 {
  font-family: "Eczar", serif;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  line-height: 1;
}

.playerList ul {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  font-family: "Eczar", sans-serif;
}

.ready {
  color: green;
}

@keyframes cycleBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300% 0%;
  }
}

.highlight {
  background: linear-gradient(
    to left,
    orange 5%,
    rgb(248, 14, 53) 45%,
    rgb(248, 14, 53) 55%,
    orange 95%
  );
  color: transparent;
  background-clip: text;
  box-decoration-break: clone;
  /* border: 0.2rem solid transparent; */
  background-size: 300% auto;
  animation: cycleBackground 7s linear infinite;
}

.details {
  line-height: 1;
}

.details > summary {
  color: #a16edb;
  cursor: pointer;
}

.details > p {
  text-align: center;
  margin-top: 0.5rem;
}
