.header h2 {
  font-family: "Eczar", serif;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0.5rem 0 0.5rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 12rem;
}

.playerList h3 {
  font-family: "Eczar", serif;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  line-height: 1;
}

.playerList ul {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  font-family: "Eczar", sans-serif;
}

.ready {
  color: green;
}
