@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Eczar", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafaff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  line-height: 1.2;
}

input[type="text"] {
  font-size: 1.2rem;
  line-height: 1.4;
  border: 1px solid lightgrey;
  border-radius: .25rem;
}

input[type="text"]:focus {
  border-color: orange;
}

@media (max-width: 380px) {
  html {
    font-size: 80%;
  }
}
