@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: "Eczar", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafaff;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  line-height: 1.2;
}

@media (max-width: 450px) {
  html {
    font-size: 80%;
  }
}
